@page
@model FoodTrackerApp.Pages.InfoNutricional.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>Análise de alimentos</h4>
<br />

<h6>Entenda os alimentos e características benéficas para a saúde e quais os 5 principais sistemas de defesa.</h6>

<br />
<br />

<div>
    <div class="form-group">
       <a href="https://localhost:7280/Food"><button class="btn btn-primary" type="submit">Food</button></a>
    </div>
<br />
    <div class="form-group">
        <a href="https://localhost:7280/Action"><button class="btn btn-primary" type="submit">Action</button></a>
    </div>
<br />
    <div class="form-group">
        <a href="https://localhost:7280/Category"><button class="btn btn-primary" type="submit">Category</button></a>
    </div>
</div>
