@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Eat Beat Disease App </h1>
        <p>Um estilo de vida saudável começa com o que você come.</p>
    </div>

    <div class="text-center">
        <p>Já tem uma conta?<a href="https://localhost:7280/Identity/Account/Login"> Entrar</a></p>
    </div>

    <div class="text-center">
        <h3>Busque entre mais de mil alimentos em nosso banco de dados.</h3>
        <p>O que há em seu alimento? Saiba mais sobre as características benéficas para a saúde e informações sobre os 5 principais sistemas de defesa.</p>
    </div>
</div>

<img src="https://i.ibb.co/7jRH6NM/fundo.jpg" alt="image" width="100%" height="93%">